.menu{
    display: block; 
    position: absolute;
    width:0;
    height: 0;
    top:7.6vh;
    left: 0;
   /*  border-bottom-right-radius: 170%; */
    transition: .6s ease-in;
    z-index: 9999;
    overflow-y: auto;
    visibility: hidden;
    background: linear-gradient(150deg, rgba(125,5,203,1) 20%, rgba(128,8,206,1) 35%, rgba(130,10,208,1) 48%, rgba(149,50,214,1) 62%, rgba(244,244,244,0.8) 100%);
}
.nav__menu.active .menu{
    visibility: visible;
    width: 100%;
    height: calc(100vh - 7.6vh); 
}
.menu li{
    margin-top:40px;
    margin-left: 1em;
    padding: .6em 0;
    text-align: center;
    
}
.menu li a{
    font-size: 1.2em;
    padding-bottom: .6em;
    border-bottom: #e4e1e1 solid;
}
